.otpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    }
    
    .box{
        position: relative;
        width: 380px;
        height: 430px;
        background: gray;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 30px gray;
    }
    
    .box::before{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        height: 380px;
        width: 430px;
        /*background: linear-gradient(0deg,transparent,#45f3ff, #45f3ff);*/
        background: linear-gradient(0deg,transparent, var(--purple-color), var(--purple-color));
        transform-origin: bottom right  ;
        animation: animate 6s linear infinite;
    } 
    
    .box::after{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        height: 380px;
        width: 430px;
/*              background: linear-gradient(0deg,transparent,#45f3ff, #45f3ff);*/
        background: linear-gradient(0deg,transparent, var(--green-color), var(--green-color));
        transform-origin: bottom right  ;
        animation: animate 6s linear infinite;
        animation-delay: -3s; 
    }
    
    @keyframes animate {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }
    
    .form{
        position: absolute;
        inset: 4px;
        border-radius: 8px;
        background: rgb(220, 220, 220);
        z-index: 10;
        padding: 50px 40px;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }
    
    .form h2{
        color: gray;
        font-family: 500;
        text-align: center;
        letter-spacing: 0.1rem;
    }

    .form p{
        color: tomato;
        text-align: center;
        margin-top: 5px;
    }

    .form h5{
        text-align: center;
        color: green;
        width: 100%;
        margin-top: 5px;
    }
    
    form .inputBox{
        position: relative;
        width: 300px;
        margin-top: 35px;
    }
    
    form .inputBox input{
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid gray;
        outline: none;
        color: #23242a;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        transition: all 0.5s ease-in-out;
        z-index: 10px;
    }
    
    
    form .inputBox input:focus{
        border-bottom: 2px solid black;
    }
    
    
    form .inputBox span{
        position: absolute;
        left: 0;
        padding: 20px 0px 10px;
        font-size: 1rem;
        color: #8f8f8f;
        pointer-events: none;
        letter-spacing: 0.05rem;
        transition: 0.5s;
    }
    
    form .inputBox input:valid ~ span,
    form .inputBox input:focus ~ span{
        color: gray;
        transform: translateY(-34px);
    }
    
    .links{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    
    .links .link{
        margin: 6px 0;
        color: gray;
        font-size: 0.9rem;
        text-decoration: none;
    }
    
     .links .link:hover{
        color: black;
    }
    
    .form .signUpLink{
        margin-top: 1rem;
        text-align: center;
    }
    
    .form .signUpLink p{
        color: gray;
    }
    
    .form .signUpLink span .link{
        color: #03bac7;
        text-decoration: none;
    }
    
    button{
        border: none;
        outline: none;
        background: #03bac7;
        padding: 11px 25px;
        margin-top: 36px;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 10px;
    }
    
    button:active{
        opacity: 0.8;
    }

    .otpBtn{
        border: none;
        outline: none;
        background: #03bac7;
        padding: 6px 13px;
        cursor: pointer;
        margin-top: 36px;
        font-size: 20px;
        border-radius: 10px;
    }

    button:active{
        opacity: 0.8;
    }