.hero{
    width: 100vw;
}

.hero-container{
    margin-top: 75px;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url('../../assest/logo1.jpg');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero-container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    width: 90%;
    text-align: center;
}

.hero-container .content h2{
    color: white;
    font-size: 80px;
    margin-bottom: 15px;
}

.hero-container .content p{
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}

.hero-container .content span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-container .content span .addBtn{
    padding: 15px;
    /*background: blue;*/
    background: #03bac7;
    color: white;
    border-radius: 20px;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    /*border: 2px solid blue;*/
    border: 2px solid #03bac7;
}

.hero-container .content span .addBtn:hover{
    border: 2px solid white;
    background: transparent;
    color: white;
}

.hero-container .content span .expBtn{
    padding: 15px;
    background: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.hero-container .content span .expBtn:hover{
    border: 2px solid white;
    background: white;
    color: black;
}

.overlay{
    /*    background: linear-gradient(to top right, blue,red);*/
    background: linear-gradient(to top right, rgb(69, 68, 68),black);

    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .hero{
        width: 100vw;
    }

    .hero-container{
        background: none;
    }

    .hero-container{
        object-fit: contain;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-container .content{
        width: 96vw;
    }

    .hero-container .content h2{
        font-size: 50px;
        text-align: center;
    }

    .hero .content p{
        font-size: 18px;
        text-align: center;
    }
}